In [1]:
import train_test_generation
from keras.layers import Dense,Conv2D,MaxPooling2D,UpSampling2D
from keras import Input, Model
from keras.datasets import mnist
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from keras import regularizers

In [2]:
data = train_test_generation.generateDataset(10**5, 'raw')

In [3]:
data.head()

,date,temperature,humidity,precipitation,windspeed,age,weight,height,sex,fatpercentage,...,cold_resistance,thermal,hoodie,fleece,wool,light_down,thick_down,wind_breaker,umbrella,winter_boots
0,13/01/2022,1,54,27,18,59,126.171041,191.197972,0,38.786593,...,70.0,True,True,False,False,False,True,False,False,False
1,12/01/2022,23,75,76,38,19,72.584686,146.704262,1,39.440707,...,90.0,False,False,False,False,False,False,True,True,False
2,11/01/2022,24,79,21,24,34,94.628970,171.240883,0,30.344912,...,100.0,False,False,False,False,False,False,False,False,False
3,10/01/2022,-4,35,1,13,56,100.132516,157.595977,1,55.860029,...,70.0,False,True,True,False,True,True,False,False,False
4,09/01/2022,-12,42,3,8,44,85.532023,168.084876,1,41.048939,...,80.0,False,False,True,True,True,True,False,False,False

In [4]:
user_params_df = data[['age', 'weight', 'height', 'sex', 'fatpercentage', 'bmi']]

In [5]:
user_params_df.head()

   age      weight      height  sex  fatpercentage        bmi
0   59  126.171041  191.197972    0      38.786593  34.513827
1   19   72.584686  146.704262    1      39.440707  33.725589
2   34   94.628970  171.240883    0      30.344912  32.270760
3   56  100.132516  157.595977    1      55.860029  40.316691
4   44   85.532023  168.084876    1      41.048939  30.274116

In [6]:
#https://www.analyticsvidhya.com/blog/2021/06/complete-guide-on-how-to-use-autoencoders-in-python/

In [7]:
#num = user_params_df.values
#num = tf.convert_to_tensor(num)

In [8]:
from sklearn.preprocessing import MinMaxScaler 
X = MinMaxScaler().fit_transform(user_params_df)

In [9]:
#https://www.geeksforgeeks.org/ml-classifying-data-using-an-auto-encoder/

In [10]:
input_layer = Input(shape =(X.shape[1], ))

In [11]:
#building the autoencoder network
encoded = Dense(100, activation ='linear',
                activity_regularizer = regularizers.l1(10e-5))(input_layer)
encoded = Dense(50, activation ='linear',
                activity_regularizer = regularizers.l1(10e-5))(encoded)
encoded = Dense(25, activation ='linear',
                activity_regularizer = regularizers.l1(10e-5))(encoded)
encoded = Dense(12, activation ='linear',
                activity_regularizer = regularizers.l1(10e-5))(encoded)
encoded = Dense(6, activation ='relu')(encoded)
  
# Building the Decoder network
decoded = Dense(12, activation ='linear')(encoded)
decoded = Dense(25, activation ='linear')(decoded)
decoded = Dense(50, activation ='linear')(decoded)
decoded = Dense(100, activation ='linear')(decoded)
  
# Building the Output Layer
output_layer = Dense(X.shape[1], activation ='relu')(decoded)
output_layer = Dense(X.shape[1], activation ='relu')(decoded)

In [12]:
autoencoder = Model(input_layer, output_layer)
autoencoder.compile(optimizer ="adam", loss ="binary_crossentropy" , metrics=['accuracy'])

In [13]:
autoencoder.fit(X, X, 
                batch_size = 16, epochs = 30, 
                shuffle = True, validation_split = 0.20)

Epoch 1/30
5000/5000 [==============================] - 5s 972us/step - loss: 0.7906 - accuracy: 0.8953 - val_loss: 0.5289 - val_accuracy: 0.9330
Epoch 2/30
5000/5000 [==============================] - 5s 911us/step - loss: 0.5292 - accuracy: 0.9348 - val_loss: 0.5234 - val_accuracy: 0.9682
Epoch 3/30
5000/5000 [==============================] - 5s 935us/step - loss: 0.5304 - accuracy: 0.9315 - val_loss: 0.5223 - val_accuracy: 0.9790
Epoch 4/30
5000/5000 [==============================] - 5s 919us/step - loss: 0.6152 - accuracy: 0.9161 - val_loss: 1.1290 - val_accuracy: 0.7912
Epoch 5/30
5000/5000 [==============================] - 5s 942us/step - loss: 0.8317 - accuracy: 0.8497 - val_loss: 0.5324 - val_accuracy: 0.9182
Epoch 6/30
5000/5000 [==============================] - 5s 931us/step - loss: 0.5262 - accuracy: 0.9509 - val_loss: 0.5284 - val_accuracy: 0.9250
Epoch 7/30
5000/5000 [==============================] - 5s 917us/step - loss: 0.5358 - accuracy: 0.9052 - val_loss: 0.5295 - val_accuracy: 0.9348
Epoch 8/30
5000/5000 [==============================] - 5s 912us/step - loss: 0.5302 - accuracy: 0.9197 - val_loss: 0.5223 - val_accuracy: 0.9793
Epoch 9/30
5000/5000 [==============================] - 5s 913us/step - loss: 0.5267 - accuracy: 0.9481 - val_loss: 0.5239 - val_accuracy: 0.9488
Epoch 10/30
5000/5000 [==============================] - 5s 912us/step - loss: 0.7421 - accuracy: 0.8482 - val_loss: 1.8761 - val_accuracy: 0.2711
Epoch 11/30
5000/5000 [==============================] - 5s 910us/step - loss: 1.8155 - accuracy: 0.4584 - val_loss: 1.8081 - val_accuracy: 0.4830
Epoch 12/30
5000/5000 [==============================] - 5s 908us/step - loss: 1.5481 - accuracy: 0.5522 - val_loss: 0.5243 - val_accuracy: 0.9309
Epoch 13/30
5000/5000 [==============================] - 5s 905us/step - loss: 0.5252 - accuracy: 0.9477 - val_loss: 0.5219 - val_accuracy: 0.9806
Epoch 14/30
5000/5000 [==============================] - 5s 909us/step - loss: 0.5346 - accuracy: 0.9086 - val_loss: 0.5242 - val_accuracy: 0.9410
Epoch 15/30
5000/5000 [==============================] - 5s 915us/step - loss: 0.5284 - accuracy: 0.9321 - val_loss: 0.5226 - val_accuracy: 0.9776
Epoch 16/30
5000/5000 [==============================] - 5s 916us/step - loss: 0.5339 - accuracy: 0.9215 - val_loss: 0.5225 - val_accuracy: 0.9806
Epoch 17/30
5000/5000 [==============================] - 5s 928us/step - loss: 0.5308 - accuracy: 0.9372 - val_loss: 0.5266 - val_accuracy: 0.9309
Epoch 18/30
5000/5000 [==============================] - 5s 940us/step - loss: 1.5620 - accuracy: 0.5323 - val_loss: 1.8093 - val_accuracy: 0.4863
Epoch 19/30
5000/5000 [==============================] - 5s 910us/step - loss: 1.8123 - accuracy: 0.4723 - val_loss: 1.8090 - val_accuracy: 0.4719
Epoch 20/30
5000/5000 [==============================] - 5s 920us/step - loss: 1.1809 - accuracy: 0.8374 - val_loss: 0.5241 - val_accuracy: 0.9368
Epoch 21/30
5000/5000 [==============================] - 5s 916us/step - loss: 0.5289 - accuracy: 0.9317 - val_loss: 0.5220 - val_accuracy: 0.9747
Epoch 22/30
5000/5000 [==============================] - 5s 920us/step - loss: 0.5288 - accuracy: 0.9346 - val_loss: 0.5219 - val_accuracy: 0.9807
Epoch 23/30
5000/5000 [==============================] - 5s 924us/step - loss: 0.5264 - accuracy: 0.9484 - val_loss: 0.5222 - val_accuracy: 0.9750
Epoch 24/30
5000/5000 [==============================] - 5s 932us/step - loss: 0.5263 - accuracy: 0.9504 - val_loss: 0.5248 - val_accuracy: 0.9298
Epoch 25/30
5000/5000 [==============================] - 5s 971us/step - loss: 1.9727 - accuracy: 0.4985 - val_loss: 1.8120 - val_accuracy: 0.4640
Epoch 26/30
5000/5000 [==============================] - 5s 931us/step - loss: 1.3122 - accuracy: 0.6327 - val_loss: 0.5255 - val_accuracy: 0.9402
Epoch 27/30
5000/5000 [==============================] - 5s 925us/step - loss: 0.5296 - accuracy: 0.9236 - val_loss: 0.5223 - val_accuracy: 0.9767
Epoch 28/30
5000/5000 [==============================] - 5s 937us/step - loss: 0.5737 - accuracy: 0.8961 - val_loss: 0.5596 - val_accuracy: 0.7739
Epoch 29/30
5000/5000 [==============================] - 5s 922us/step - loss: 0.5291 - accuracy: 0.9391 - val_loss: 0.5222 - val_accuracy: 0.9829
Epoch 30/30
5000/5000 [==============================] - 5s 956us/step - loss: 0.5262 - accuracy: 0.9591 - val_loss: 0.5219 - val_accuracy: 0.9829