In [1]:
import train_test_generation
from keras.layers import Dense,Conv2D,MaxPooling2D,UpSampling2D
from keras import Input, Model
from keras.datasets import mnist
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from keras import regularizers
import keras
import pandas as pd

62.5
[True, True, True, True, True, True, False, False, False]
-9.999999999999972

C:\Users\User\Documents\Freshman\Build 2022\build2022hackathon\ML Models\train_test_generation.py:525: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[article][ite] = bool(random.getrandbits(1))
C:\Users\User\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [2]:
features, output = train_test_generation.generatefinaldf(10**5, 'ML', 90)

C:\Users\User\Documents\Freshman\Build 2022\build2022hackathon\ML Models\train_test_generation.py:525: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[article][ite] = bool(random.getrandbits(1))
C:\Users\User\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [3]:
features.head()

,temperature,humidity,precipitation,windspeed,age,weight,height,sex,fatpercentage,bmi,cold_resistance,scoring_difference,adjusted_cold_resistance,preference_factor
0,-12,68,86,13,59,76.350691,165.034328,1,41.809198,28.032665,70.0,-6.833333,73.500,105
1,-17,17,58,7,24,83.566165,176.487951,0,21.514493,26.828745,72.5,-1.775000,71.775,99
2,-13,51,38,23,24,96.348209,178.793425,0,25.487776,30.139813,80.0,-7.466667,80.800,101
3,-9,14,32,21,25,106.733295,179.147332,0,29.458047,33.256706,80.0,-9.333333,76.000,95
4,13,6,96,16,29,68.463140,163.715886,1,31.921830,25.543192,100.0,0.000000,103.000,103

In [4]:
output.head()

,thermal,hoodie,fleece,wool,light_down,thick_down,wind_breaker,umbrella,winter_boots,user_feedback
0,False,True,True,True,True,True,False,True,True,0
1,True,True,True,True,True,True,False,True,True,1
2,False,True,True,True,True,True,False,False,False,0
3,False,True,False,True,True,True,False,False,False,0
4,False,False,False,False,False,False,False,True,False,1

In [6]:
features.to_csv("features.csv", index=False)
output.to_csv("output.csv", index=False)

In [7]:
user_params_df = features[['age', 'weight', 'height', 'sex', 'fatpercentage', 'bmi']]

In [8]:
#features.tail()

In [9]:
user_params_df.head()

   age      weight      height  sex  fatpercentage        bmi
0   59   76.350691  165.034328    1      41.809198  28.032665
1   24   83.566165  176.487951    0      21.514493  26.828745
2   24   96.348209  178.793425    0      25.487776  30.139813
3   25  106.733295  179.147332    0      29.458047  33.256706
4   29   68.463140  163.715886    1      31.921830  25.543192

In [ ]:
#https://www.analyticsvidhya.com/blog/2021/06/complete-guide-on-how-to-use-autoencoders-in-python/

In [ ]:
#num = user_params_df.values
#num = tf.convert_to_tensor(num)

In [10]:
from sklearn.preprocessing import MinMaxScaler 
X = MinMaxScaler().fit_transform(user_params_df)

In [ ]:
#https://www.geeksforgeeks.org/ml-classifying-data-using-an-auto-encoder/

In [ ]:
input_layer = Input(shape =(X.shape[1], ))

In [ ]:
#building the autoencoder network
encoded = Dense(100, activation ='linear',
                activity_regularizer = regularizers.l1(10e-5))(input_layer)
encoded = Dense(50, activation ='linear',
                activity_regularizer = regularizers.l1(10e-5))(encoded)
encoded = Dense(25, activation ='linear',
                activity_regularizer = regularizers.l1(10e-5))(encoded)
encoded = Dense(12, activation ='linear',
                activity_regularizer = regularizers.l1(10e-5))(encoded)
encoded = Dense(4, activation ='linear')(encoded)
  
# Building the Decoder network
decoded = Dense(12, activation ='linear')(encoded)
decoded = Dense(25, activation ='linear')(decoded)
decoded = Dense(50, activation ='linear')(decoded)
decoded = Dense(100, activation ='linear')(decoded)
  
# Building the Output Layer
output_layer = Dense(X.shape[1], activation ='relu')(decoded)
output_layer = Dense(X.shape[1], activation ='relu')(decoded)

In [ ]:
autoencoder = Model(input_layer, output_layer)
autoencoder.compile(optimizer ="adam", loss ="binary_crossentropy" , metrics=['accuracy'])

In [ ]:
autoencoder.fit(X, X, 
                batch_size = 20, epochs = 25, 
                shuffle = True, validation_split = 0.20)

In [ ]:
# Extracting the embedding
encoder = keras.Model(input_layer, encoded)
encoded_r = encoder.predict(X)
print(encoded_r)

In [ ]:
# Transforming to a CSV file using pandas

df = pd.DataFrame(encoded_r, columns = ["Attribute 1", "Attribute 2", "Attribute 3", "Attribute 4"])
print(df)

In [ ]:
df.to_csv("R_values.csv", index=False)