In [1]:
import numpy as np
import pandas as pd
import random
import datetime
from sklearn.model_selection import train_test_split
from datetime import date
import tensorflow as tf
import train_test_generation
from sklearn.model_selection import GridSearchCV
import train_test_generation

62.5

In [2]:
raw = pd.read_csv('iterative_dataset.csv')

In [3]:
raw.columns

Index(['Unnamed: 0', 'temperature', 'humidity', 'precipitation', 'windspeed',
       'age', 'weight', 'height', 'sex', 'fatpercentage', 'bmi',
       'cold_resistance', 'scoring_difference', 'thermal', 'hoodie', 'fleece',
       'wool', 'light_down', 'thick_down'],
      dtype='object')

In [4]:
raw.head()

,Unnamed: 0,temperature,humidity,precipitation,windspeed,age,weight,height,sex,fatpercentage,bmi,cold_resistance,scoring_difference,thermal,hoodie,fleece,wool,light_down,thick_down
0,0,4,26,23,3,58,73.425545,162.931325,1,41.130917,27.659097,70.0,-17.2,0,0,0,0,0,0
1,1,4,26,23,3,58,73.425545,162.931325,1,41.130917,27.659097,70.0,-17.2,0,0,0,0,0,1
2,2,4,26,23,3,58,73.425545,162.931325,1,41.130917,27.659097,70.0,-17.2,0,0,0,0,1,0
3,3,4,26,23,3,58,73.425545,162.931325,1,41.130917,27.659097,70.0,-17.2,0,0,0,0,1,1
4,4,4,26,23,3,58,73.425545,162.931325,1,41.130917,27.659097,70.0,-17.2,0,0,0,1,0,0

In [5]:
raw = raw[['temperature', 'humidity', 'precipitation', 'windspeed', 'age', 'weight', 'height', 'sex', 'fatpercentage', 'bmi','cold_resistance', 'scoring_difference', 'thermal', 'hoodie', 'fleece','wool', 'light_down', 'thick_down']]

In [6]:
raw['userfeedback'] = raw.apply(lambda row : train_test_generation.getUserFeedback(row['scoring_difference']), axis = 1)

In [7]:
#raw

In [8]:
features = raw[['temperature', 'humidity', 'precipitation', 'windspeed', 'thermal', 'hoodie', 'fleece','wool', 'light_down', 'thick_down']]

In [9]:
features

,temperature,humidity,precipitation,windspeed,thermal,hoodie,fleece,wool,light_down,thick_down
0,4,26,23,3,0,0,0,0,0,0
1,4,26,23,3,0,0,0,0,0,1
2,4,26,23,3,0,0,0,0,1,0
3,4,26,23,3,0,0,0,0,1,1
4,4,26,23,3,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
191995,3,55,14,0,1,1,1,0,1,1
191996,3,55,14,0,1,1,1,1,0,0
191997,3,55,14,0,1,1,1,1,0,1
191998,3,55,14,0,1,1,1,1,1,0
191999,3,55,14,0,1,1,1,1,1,1

In [10]:
output = raw[['userfeedback']]

In [11]:
output

        userfeedback
0                  0
1                  0
2                  0
3                  0
4                  0
...              ...
191995             1
191996             1
191997             1
191998             1
191999             1

[192000 rows x 1 columns]

In [12]:
r_values = pd.read_csv("R_values_V2.csv")
r_values.tail(10)

        Attribute 1  Attribute 2  Attribute 3  Attribute 4
191990    -0.305098     -0.12241    -0.285202     0.109054
191991    -0.305098     -0.12241    -0.285202     0.109054
191992    -0.305098     -0.12241    -0.285202     0.109054
191993    -0.305098     -0.12241    -0.285202     0.109054
191994    -0.305098     -0.12241    -0.285202     0.109054
191995    -0.305098     -0.12241    -0.285202     0.109054
191996    -0.305098     -0.12241    -0.285202     0.109054
191997    -0.305098     -0.12241    -0.285202     0.109054
191998    -0.305098     -0.12241    -0.285202     0.109054
191999    -0.305098     -0.12241    -0.285202     0.109054

In [13]:
# Combining R values with CSV file

features["R1"] = r_values["Attribute 1"]
features["R2"] = r_values["Attribute 2"]
features["R3"] = r_values["Attribute 3"]
features["R4"] = r_values["Attribute 4"]

features.tail(10)

<ipython-input-13-05b61f4404db>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features["R1"] = r_values["Attribute 1"]
<ipython-input-13-05b61f4404db>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features["R2"] = r_values["Attribute 2"]
<ipython-input-13-05b61f4404db>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features["R3"] = r_values["Attribute 3"]
<ipython-input-13-05b61f4404db>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features["R4"] = r_values["Attribute 4"]

,temperature,humidity,precipitation,windspeed,thermal,hoodie,fleece,wool,light_down,thick_down,R1,R2,R3,R4
191990,3,55,14,0,1,1,0,1,1,0,-0.305098,-0.12241,-0.285202,0.109054
191991,3,55,14,0,1,1,0,1,1,1,-0.305098,-0.12241,-0.285202,0.109054
191992,3,55,14,0,1,1,1,0,0,0,-0.305098,-0.12241,-0.285202,0.109054
191993,3,55,14,0,1,1,1,0,0,1,-0.305098,-0.12241,-0.285202,0.109054
191994,3,55,14,0,1,1,1,0,1,0,-0.305098,-0.12241,-0.285202,0.109054
191995,3,55,14,0,1,1,1,0,1,1,-0.305098,-0.12241,-0.285202,0.109054
191996,3,55,14,0,1,1,1,1,0,0,-0.305098,-0.12241,-0.285202,0.109054
191997,3,55,14,0,1,1,1,1,0,1,-0.305098,-0.12241,-0.285202,0.109054
191998,3,55,14,0,1,1,1,1,1,0,-0.305098,-0.12241,-0.285202,0.109054
191999,3,55,14,0,1,1,1,1,1,1,-0.305098,-0.12241,-0.285202,0.109054

In [14]:
# Splitting the set into X and Y
X = features
Y = output

In [15]:
X.tail(10)

,temperature,humidity,precipitation,windspeed,thermal,hoodie,fleece,wool,light_down,thick_down,R1,R2,R3,R4
191990,3,55,14,0,1,1,0,1,1,0,-0.305098,-0.12241,-0.285202,0.109054
191991,3,55,14,0,1,1,0,1,1,1,-0.305098,-0.12241,-0.285202,0.109054
191992,3,55,14,0,1,1,1,0,0,0,-0.305098,-0.12241,-0.285202,0.109054
191993,3,55,14,0,1,1,1,0,0,1,-0.305098,-0.12241,-0.285202,0.109054
191994,3,55,14,0,1,1,1,0,1,0,-0.305098,-0.12241,-0.285202,0.109054
191995,3,55,14,0,1,1,1,0,1,1,-0.305098,-0.12241,-0.285202,0.109054
191996,3,55,14,0,1,1,1,1,0,0,-0.305098,-0.12241,-0.285202,0.109054
191997,3,55,14,0,1,1,1,1,0,1,-0.305098,-0.12241,-0.285202,0.109054
191998,3,55,14,0,1,1,1,1,1,0,-0.305098,-0.12241,-0.285202,0.109054
191999,3,55,14,0,1,1,1,1,1,1,-0.305098,-0.12241,-0.285202,0.109054

In [16]:
Y.tail(10)

        userfeedback
191990             1
191991             1
191992             1
191993             1
191994             1
191995             1
191996             1
191997             1
191998             1
191999             1

In [17]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.25, random_state=10)

In [18]:
#https://www.analyticsvidhya.com/blog/2021/10/implementing-artificial-neural-networkclassification-in-python-from-scratch/

In [19]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [20]:
ann = tf.keras.models.Sequential()

In [21]:
ann.add(tf.keras.layers.Dense(units = 32,activation="linear"))

In [22]:
ann.add(tf.keras.layers.Dense(units = 64,activation="linear"))

In [23]:
ann.add(tf.keras.layers.Dense(units = 32,activation="linear"))

In [27]:
ann.add(tf.keras.layers.Dense(units = 1,activation="sigmoid"))

In [28]:
ann.compile(optimizer="adam",loss="binary_crossentropy",metrics=['accuracy'])

In [29]:
ann.fit(X_train,Y_train,batch_size=64,epochs = 100)

Epoch 1/100
2250/2250 [==============================] - 2s 909us/step - loss: 0.5068 - accuracy: 0.6536
Epoch 2/100
2250/2250 [==============================] - 2s 1ms/step - loss: 0.4621 - accuracy: 0.6671: 1s - loss: 0.4708 - ac - ETA:
Epoch 3/100
2250/2250 [==============================] - 2s 993us/step - loss: 0.4122 - accuracy: 0.6873
Epoch 4/100
2250/2250 [==============================] - 2s 987us/step - loss: 0.3542 - accuracy: 0.69470s - loss: 0.3
Epoch 5/100
2250/2250 [==============================] - 2s 939us/step - loss: 0.2998 - accuracy: 0.6960
Epoch 6/100
2250/2250 [==============================] - 2s 961us/step - loss: 0.2406 - accuracy: 0.7017
Epoch 7/100
2250/2250 [==============================] - 2s 974us/step - loss: 0.1824 - accuracy: 0.7037
Epoch 8/100
2250/2250 [==============================] - 2s 924us/step - loss: 0.1127 - accuracy: 0.7049
Epoch 9/100
2250/2250 [==============================] - 2s 979us/step - loss: 0.0638 - accuracy: 0.70670s - loss: 0.0602 - accuracy: 0.
Epoch 10/100
2250/2250 [==============================] - 3s 1ms/step - loss: 0.0061 - accuracy: 0.7051
Epoch 11/100
2250/2250 [==============================] - 2s 888us/step - loss: -0.0555 - accuracy: 0.7035
Epoch 12/100
2250/2250 [==============================] - 2s 864us/step - loss: -0.1307 - accuracy: 0.7054
Epoch 13/100
2250/2250 [==============================] - 2s 884us/step - loss: -0.1864 - accuracy: 0.7049 0s - loss: -0.1691 -
Epoch 14/100
2250/2250 [==============================] - 2s 837us/step - loss: -0.2145 - accuracy: 0.7049 1s - loss:
Epoch 15/100
2250/2250 [==============================] - 2s 797us/step - loss: -0.2740 - accuracy: 0.7038
Epoch 16/100
2250/2250 [==============================] - 2s 758us/step - loss: -0.3433 - accuracy: 0.6992
Epoch 17/100
2250/2250 [==============================] - 2s 797us/step - loss: -0.4222 - accuracy: 0.6972 0s - loss: -0.4209 - accuracy: 0.697
Epoch 18/100
2250/2250 [==============================] - 2s 819us/step - loss: -0.4582 - accuracy: 0.6974
Epoch 19/100
2250/2250 [==============================] - 2s 816us/step - loss: -0.5369 - accuracy: 0.6974
Epoch 20/100
2250/2250 [==============================] - 2s 793us/step - loss: -0.5900 - accuracy: 0.6974 0s - loss: -0.5940 - accuracy: 0.697
Epoch 21/100
2250/2250 [==============================] - 2s 786us/step - loss: -0.6336 - accuracy: 0.6942
Epoch 22/100
2250/2250 [==============================] - 2s 792us/step - loss: -0.6602 - accuracy: 0.6849 1s - los
Epoch 23/100
2250/2250 [==============================] - 2s 815us/step - loss: -0.8121 - accuracy: 0.6868
Epoch 24/100
2250/2250 [==============================] - 2s 852us/step - loss: -0.8655 - accuracy: 0.6882
Epoch 25/100
2250/2250 [==============================] - 2s 852us/step - loss: -0.9458 - accuracy: 0.6886
Epoch 26/100
2250/2250 [==============================] - 2s 828us/step - loss: -1.0396 - accuracy: 0.6825
Epoch 27/100
2250/2250 [==============================] - 2s 823us/step - loss: -1.0457 - accuracy: 0.6788
Epoch 28/100
2250/2250 [==============================] - 2s 829us/step - loss: -1.2314 - accuracy: 0.6722 0s - loss: -1.3150 - ac
Epoch 29/100
2250/2250 [==============================] - 2s 833us/step - loss: -1.3408 - accuracy: 0.6697
Epoch 30/100
2250/2250 [==============================] - 2s 793us/step - loss: -1.3998 - accuracy: 0.6720
Epoch 31/100
2250/2250 [==============================] - 2s 821us/step - loss: -1.5448 - accuracy: 0.6689
Epoch 32/100
2250/2250 [==============================] - 2s 797us/step - loss: -1.6018 - accuracy: 0.6672 0s - loss: -1.5567
Epoch 33/100
2250/2250 [==============================] - 2s 861us/step - loss: -1.7913 - accuracy: 0.6639
Epoch 34/100
2250/2250 [==============================] - 2s 832us/step - loss: -1.9323 - accuracy: 0.6637
Epoch 35/100
2250/2250 [==============================] - 2s 821us/step - loss: -1.9989 - accuracy: 0.6649 0s - loss: -2.0720 - accu
Epoch 36/100
2250/2250 [==============================] - 2s 825us/step - loss: -2.3302 - accuracy: 0.6633
Epoch 37/100
2250/2250 [==============================] - 2s 823us/step - loss: -2.5432 - accuracy: 0.6616
Epoch 38/100
2250/2250 [==============================] - 2s 833us/step - loss: -2.8299 - accuracy: 0.6601
Epoch 39/100
2250/2250 [==============================] - 2s 820us/step - loss: -3.0557 - accuracy: 0.6586
Epoch 40/100
2250/2250 [==============================] - 2s 850us/step - loss: -3.2008 - accuracy: 0.6587 0s - loss: -3.1204
Epoch 41/100
2250/2250 [==============================] - 2s 849us/step - loss: -3.4718 - accuracy: 0.6591
Epoch 42/100
2250/2250 [==============================] - 2s 840us/step - loss: -3.5630 - accuracy: 0.6582 0s - loss: -3.5608 - accuracy: 0.658
Epoch 43/100
2250/2250 [==============================] - 2s 849us/step - loss: -3.9727 - accuracy: 0.6580
Epoch 44/100
2250/2250 [==============================] - 2s 840us/step - loss: -4.0512 - accuracy: 0.6569
Epoch 45/100
2250/2250 [==============================] - 2s 807us/step - loss: -4.1756 - accuracy: 0.6574 1s - loss: -3.99
Epoch 46/100
2250/2250 [==============================] - 2s 843us/step - loss: -4.2476 - accuracy: 0.6573
Epoch 47/100
2250/2250 [==============================] - 2s 849us/step - loss: -4.5551 - accuracy: 0.6573
Epoch 48/100
2250/2250 [==============================] - 2s 823us/step - loss: -4.7340 - accuracy: 0.6568
Epoch 49/100
2250/2250 [==============================] - 2s 807us/step - loss: -4.9820 - accuracy: 0.6563
Epoch 50/100
2250/2250 [==============================] - 2s 815us/step - loss: -5.3249 - accuracy: 0.6564
Epoch 51/100
2250/2250 [==============================] - 2s 826us/step - loss: -5.4497 - accuracy: 0.6561
Epoch 52/100
2250/2250 [==============================] - 2s 840us/step - loss: -5.9140 - accuracy: 0.6561
Epoch 53/100
2250/2250 [==============================] - 2s 844us/step - loss: -6.0906 - accuracy: 0.6557
Epoch 54/100
2250/2250 [==============================] - 2s 854us/step - loss: -6.5447 - accuracy: 0.6554
Epoch 55/100
2250/2250 [==============================] - 2s 815us/step - loss: -6.3580 - accuracy: 0.6553 1s - loss: -6.14
Epoch 56/100
2250/2250 [==============================] - 2s 785us/step - loss: -6.9599 - accuracy: 0.6553
Epoch 57/100
2250/2250 [==============================] - 2s 797us/step - loss: -7.4936 - accuracy: 0.6552
Epoch 58/100
2250/2250 [==============================] - 2s 795us/step - loss: -7.5846 - accuracy: 0.6552
Epoch 59/100
2250/2250 [==============================] - 2s 812us/step - loss: -8.1138 - accuracy: 0.6551
Epoch 60/100
2250/2250 [==============================] - 2s 816us/step - loss: -8.7046 - accuracy: 0.6552
Epoch 61/100
2250/2250 [==============================] - 2s 801us/step - loss: -9.4572 - accuracy: 0.6554
Epoch 62/100
2250/2250 [==============================] - 2s 841us/step - loss: -9.4794 - accuracy: 0.6552
Epoch 63/100
2250/2250 [==============================] - 2s 819us/step - loss: -9.3629 - accuracy: 0.6552
Epoch 64/100
2250/2250 [==============================] - 2s 884us/step - loss: -10.1528 - accuracy: 0.6553
Epoch 65/100
2250/2250 [==============================] - 2s 813us/step - loss: -9.9015 - accuracy: 0.6549
Epoch 66/100
2250/2250 [==============================] - 2s 792us/step - loss: -10.6728 - accuracy: 0.6552
Epoch 67/100
2250/2250 [==============================] - 2s 788us/step - loss: -10.7074 - accuracy: 0.6552
Epoch 68/100
2250/2250 [==============================] - 2s 808us/step - loss: -11.2815 - accuracy: 0.6550
Epoch 69/100
2250/2250 [==============================] - 2s 792us/step - loss: -11.2555 - accuracy: 0.6551
Epoch 70/100
2250/2250 [==============================] - 2s 791us/step - loss: -11.5225 - accuracy: 0.65500s - loss: -11.8043
Epoch 71/100
2250/2250 [==============================] - 2s 789us/step - loss: -12.1923 - accuracy: 0.6551
Epoch 72/100
2250/2250 [==============================] - 2s 816us/step - loss: -12.2950 - accuracy: 0.6549
Epoch 73/100
2250/2250 [==============================] - 2s 833us/step - loss: -12.9353 - accuracy: 0.6551
Epoch 74/100

2250/2250 [==============================] - 2s 811us/step - loss: -12.5159 - accuracy: 0.6549
Epoch 75/100
2250/2250 [==============================] - 2s 790us/step - loss: -13.3403 - accuracy: 0.6551
Epoch 76/100
2250/2250 [==============================] - 2s 801us/step - loss: -13.0421 - accuracy: 0.6552
Epoch 77/100
2250/2250 [==============================] - 2s 797us/step - loss: -13.6463 - accuracy: 0.6550
Epoch 78/100
2250/2250 [==============================] - 2s 846us/step - loss: -14.1942 - accuracy: 0.65510s - loss: -14.2263 -
Epoch 79/100
2250/2250 [==============================] - 2s 826us/step - loss: -14.1002 - accuracy: 0.6551
Epoch 80/100
2250/2250 [==============================] - 2s 795us/step - loss: -15.3364 - accuracy: 0.6551
Epoch 81/100
2250/2250 [==============================] - 2s 800us/step - loss: -15.1064 - accuracy: 0.6551
Epoch 82/100
2250/2250 [==============================] - 2s 856us/step - loss: -15.9364 - accuracy: 0.6550
Epoch 83/100
2250/2250 [==============================] - 2s 859us/step - loss: -15.3622 - accuracy: 0.6551
Epoch 84/100
2250/2250 [==============================] - 2s 833us/step - loss: -16.1993 - accuracy: 0.6551
Epoch 85/100
2250/2250 [==============================] - 2s 836us/step - loss: -16.0869 - accuracy: 0.6551
Epoch 86/100
2250/2250 [==============================] - 2s 824us/step - loss: -16.9888 - accuracy: 0.6551
Epoch 87/100
2250/2250 [==============================] - 2s 845us/step - loss: -17.2756 - accuracy: 0.6549
Epoch 88/100
2250/2250 [==============================] - 2s 857us/step - loss: -17.8075 - accuracy: 0.6551
Epoch 89/100
2250/2250 [==============================] - 2s 839us/step - loss: -17.2982 - accuracy: 0.6551
Epoch 90/100
2250/2250 [==============================] - 2s 822us/step - loss: -18.1653 - accuracy: 0.6550
Epoch 91/100
2250/2250 [==============================] - 2s 824us/step - loss: -19.2618 - accuracy: 0.6551
Epoch 92/100
2250/2250 [==============================] - 2s 855us/step - loss: -18.3989 - accuracy: 0.6551
Epoch 93/100
2250/2250 [==============================] - 2s 847us/step - loss: -19.0641 - accuracy: 0.6551
Epoch 94/100
2250/2250 [==============================] - 2s 860us/step - loss: -18.8036 - accuracy: 0.6549
Epoch 95/100
2250/2250 [==============================] - 2s 820us/step - loss: -20.2313 - accuracy: 0.6551
Epoch 96/100
2250/2250 [==============================] - 2s 800us/step - loss: -20.0498 - accuracy: 0.6551
Epoch 97/100
2250/2250 [==============================] - 2s 823us/step - loss: -21.6336 - accuracy: 0.6551
Epoch 98/100
2250/2250 [==============================] - 2s 801us/step - loss: -20.0992 - accuracy: 0.6551
Epoch 99/100
2250/2250 [==============================] - 2s 859us/step - loss: -21.0865 - accuracy: 0.65500s - loss: -
Epoch 100/100
2250/2250 [==============================] - 2s 846us/step - loss: -22.2034 - accuracy: 0.6551

In [ ]:
ann.save("ANN_V2.h5")

In [ ]:
ann_model = tf.keras.models.load_model("ANN.h5")
encoder_model = tf.keras.models.load_model("encoder.h5")
test_data = np.array([[59, 76.350691, 165.034328, 1, 41.809198, 28.032665]])

weather_data = np.array([[-5 , 20 , 60, 27]])

encoded_test_data = encoder_model.predict(test_data)
#print(encoded_test_data)
final_data = np.concatenate((weather_data, encoded_test_data), axis=None)
print(final_data)

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
suggested_clothing = ann_model.predict(sc.fit_transform([final_data]))
suggested_clothing

In [ ]:
test_loss, test_accuracy = model.evaluate(X_test, Y_test)

In [ ]:
'''
from sklearn.metrics import precision_score, recall_score, accuracy_score
preds = model.predict(D_test)
best_preds = np.asarray([np.argmax(line) for line in preds])

print("Precision = {}".format(precision_score(Y_test, best_preds, average='macro')))
print("Recall = {}".format(recall_score(Y_test, best_preds, average='macro')))
print("Accuracy = {}".format(accuracy_score(Y_test, best_preds)))
'''

In [ ]:
#print(test_loss)
#print(test_accuracy)