In [1]:
import numpy as np
import pandas as pd
import random
import datetime
from sklearn.model_selection import train_test_split
from datetime import date
import tensorflow as tf
import train_test_generation
from sklearn.model_selection import GridSearchCV

62.5

In [2]:
features = pd.read_csv("features.csv")
output = pd.read_csv("output.csv")

In [3]:
features.tail(10)

,temperature,humidity,precipitation,windspeed,age,weight,height,sex,fatpercentage,bmi,cold_resistance,scoring_difference,adjusted_cold_resistance,preference_factor
99990,-7,12,34,40,48,60.0,156.0,0,24.425799,24.654832,82.5,-7.516667,80.85,98
99991,14,14,98,30,51,113.0,200.0,1,40.230000,28.250000,70.0,0.000000,72.80,104
99992,-13,45,19,24,60,41.0,178.0,0,13.128342,12.940285,32.5,9.533333,33.80,104
99993,-18,79,91,20,16,54.0,157.0,0,13.769099,21.907582,57.5,16.866667,59.80,104
99994,-18,42,80,24,31,46.0,149.0,0,15.793745,20.719787,85.0,-0.033333,86.70,102
99995,10,8,94,18,38,48.0,131.0,1,36.904478,27.970398,100.0,0.000000,98.00,98
99996,17,85,77,6,45,76.0,173.0,1,35.422117,25.393431,80.0,0.000000,76.80,96
99997,21,78,36,40,31,48.0,174.0,1,20.754970,15.854142,77.5,0.000000,79.05,102
99998,-15,42,89,34,46,38.0,113.0,0,30.091489,29.759574,90.0,-6.033333,92.70,103
99999,5,88,78,39,37,95.0,134.0,1,66.598528,52.907106,100.0,-3.666667,97.00,97

In [4]:
output.tail(10)

,thermal,hoodie,fleece,wool,light_down,thick_down,wind_breaker,umbrella,winter_boots,user_feedback
99990,False,False,True,False,True,False,True,True,False,0
99991,False,True,True,False,False,False,True,False,False,1
99992,True,False,False,False,False,True,False,False,False,2
99993,False,False,False,True,True,True,False,True,True,2
99994,False,False,False,True,False,False,False,False,False,1
99995,True,True,True,False,True,True,False,False,True,1
99996,True,True,True,True,True,False,False,True,False,1
99997,True,True,True,True,False,True,True,True,False,1
99998,False,False,False,False,True,True,False,False,True,0
99999,False,False,True,False,True,False,True,False,False,1

In [5]:
r_values = pd.read_csv("R_values.csv")
r_values.tail(10)

       Attribute 1  Attribute 2  Attribute 3  Attribute 4
99990    -0.399245    -0.707471     0.022047    -0.006399
99991    -0.462212     0.043858     0.251649    -0.137407
99992    -0.841959    -0.857318     0.069331    -0.112978
99993     0.196163    -0.342578    -0.576297    -0.005956
99994    -0.080244    -0.441829    -0.255763     0.099569
99995     0.072192     0.707204     0.444989     0.730724
99996    -0.260917     0.355484     0.302514     0.253209
99997    -0.087666     0.606994     0.012968     0.352629
99998    -0.133847    -0.428275     0.269365     0.458528
99999     0.358103     0.523236     0.479077     0.552810

In [6]:
# Combining R values with CSV file

features["R1"] = r_values["Attribute 1"]
features["R2"] = r_values["Attribute 2"]
features["R3"] = r_values["Attribute 3"]
features["R4"] = r_values["Attribute 4"]

features.tail(10)

,temperature,humidity,precipitation,windspeed,age,weight,height,sex,fatpercentage,bmi,cold_resistance,scoring_difference,adjusted_cold_resistance,preference_factor,R1,R2,R3,R4
99990,-7,12,34,40,48,60.0,156.0,0,24.425799,24.654832,82.5,-7.516667,80.85,98,-0.399245,-0.707471,0.022047,-0.006399
99991,14,14,98,30,51,113.0,200.0,1,40.230000,28.250000,70.0,0.000000,72.80,104,-0.462212,0.043858,0.251649,-0.137407
99992,-13,45,19,24,60,41.0,178.0,0,13.128342,12.940285,32.5,9.533333,33.80,104,-0.841959,-0.857318,0.069331,-0.112978
99993,-18,79,91,20,16,54.0,157.0,0,13.769099,21.907582,57.5,16.866667,59.80,104,0.196163,-0.342578,-0.576297,-0.005956
99994,-18,42,80,24,31,46.0,149.0,0,15.793745,20.719787,85.0,-0.033333,86.70,102,-0.080244,-0.441829,-0.255763,0.099569
99995,10,8,94,18,38,48.0,131.0,1,36.904478,27.970398,100.0,0.000000,98.00,98,0.072192,0.707204,0.444989,0.730724
99996,17,85,77,6,45,76.0,173.0,1,35.422117,25.393431,80.0,0.000000,76.80,96,-0.260917,0.355484,0.302514,0.253209
99997,21,78,36,40,31,48.0,174.0,1,20.754970,15.854142,77.5,0.000000,79.05,102,-0.087666,0.606994,0.012968,0.352629
99998,-15,42,89,34,46,38.0,113.0,0,30.091489,29.759574,90.0,-6.033333,92.70,103,-0.133847,-0.428275,0.269365,0.458528
99999,5,88,78,39,37,95.0,134.0,1,66.598528,52.907106,100.0,-3.666667,97.00,97,0.358103,0.523236,0.479077,0.552810

In [7]:
# Splitting the set into X and Y
X = features
Y = output[["thermal", "hoodie", "fleece", "wool", "light_down", "thick_down", "wind_breaker", "umbrella", "winter_boots"]]

In [8]:
for i in Y.columns:
    Y[i] = Y[i].astype(int)

<ipython-input-8-d087100a50e2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Y[i] = Y[i].astype(int)

In [11]:
X = X[['temperature', 'humidity', 'precipitation', 'windspeed', 'R1', 'R2', 'R3', 'R4']]

In [12]:
X.tail(10)

,temperature,humidity,precipitation,windspeed,R1,R2,R3,R4
99990,-7,12,34,40,-0.399245,-0.707471,0.022047,-0.006399
99991,14,14,98,30,-0.462212,0.043858,0.251649,-0.137407
99992,-13,45,19,24,-0.841959,-0.857318,0.069331,-0.112978
99993,-18,79,91,20,0.196163,-0.342578,-0.576297,-0.005956
99994,-18,42,80,24,-0.080244,-0.441829,-0.255763,0.099569
99995,10,8,94,18,0.072192,0.707204,0.444989,0.730724
99996,17,85,77,6,-0.260917,0.355484,0.302514,0.253209
99997,21,78,36,40,-0.087666,0.606994,0.012968,0.352629
99998,-15,42,89,34,-0.133847,-0.428275,0.269365,0.458528
99999,5,88,78,39,0.358103,0.523236,0.479077,0.552810

In [13]:
Y.tail(10)

,thermal,hoodie,fleece,wool,light_down,thick_down,wind_breaker,umbrella,winter_boots
99990,0,0,1,0,1,0,1,1,0
99991,0,1,1,0,0,0,1,0,0
99992,1,0,0,0,0,1,0,0,0
99993,0,0,0,1,1,1,0,1,1
99994,0,0,0,1,0,0,0,0,0
99995,1,1,1,0,1,1,0,0,1
99996,1,1,1,1,1,0,0,1,0
99997,1,1,1,1,0,1,1,1,0
99998,0,0,0,0,1,1,0,0,1
99999,0,0,1,0,1,0,1,0,0

In [14]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.25, random_state=10)

In [15]:
#https://www.analyticsvidhya.com/blog/2021/10/implementing-artificial-neural-networkclassification-in-python-from-scratch/

In [16]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [17]:
ann = tf.keras.models.Sequential()

In [18]:
ann.add(tf.keras.layers.Dense(units = 9,activation="linear"))

In [19]:
ann.add(tf.keras.layers.Dense(units = 6,activation="linear"))

In [20]:
ann.add(tf.keras.layers.Dense(units = 1,activation="linear"))

In [21]:
ann.compile(optimizer="adam",loss="binary_crossentropy",metrics=['accuracy'])

In [22]:
ann.fit(X_train,Y_train,batch_size=20,epochs = 30)

Epoch 1/30
3750/3750 [==============================] - 3s 688us/step - loss: 1.6921 - accuracy: 0.5864
Epoch 2/30
3750/3750 [==============================] - 3s 884us/step - loss: 0.5945 - accuracy: 0.6848
Epoch 3/30
3750/3750 [==============================] - 4s 950us/step - loss: 0.6217 - accuracy: 0.7025
Epoch 4/30
3750/3750 [==============================] - 3s 916us/step - loss: 0.5790 - accuracy: 0.7100
Epoch 5/30
3750/3750 [==============================] - 3s 926us/step - loss: 0.5845 - accuracy: 0.70480s - loss: 0.5863 - accu
Epoch 6/30
3750/3750 [==============================] - 4s 934us/step - loss: 0.5719 - accuracy: 0.7128
Epoch 7/30
3750/3750 [==============================] - 4s 983us/step - loss: 0.5808 - accuracy: 0.70870s - loss:
Epoch 8/30
3750/3750 [==============================] - 5s 1ms/step - loss: 0.5717 - accuracy: 0.7121: 0s
Epoch 9/30
3750/3750 [==============================] - 5s 1ms/step - loss: 0.5867 - accuracy: 0.7043
Epoch 10/30
3750/3750 [==============================] - 3s 914us/step - loss: 0.5660 - accuracy: 0.7152
Epoch 11/30
3750/3750 [==============================] - 5s 1ms/step - loss: 0.5780 - accuracy: 0.7078
Epoch 12/30
3750/3750 [==============================] - 8s 2ms/step - loss: 0.5706 - accuracy: 0.7125
Epoch 13/30
3750/3750 [==============================] - 8s 2ms/step - loss: 0.5914 - accuracy: 0.6956: 0s - loss: 0.5909 - accura - ETA: 0s - loss: 0.5912 - accuracy
Epoch 14/30
3750/3750 [==============================] - 2s 643us/step - loss: 0.5717 - accuracy: 0.7114
Epoch 15/30
3750/3750 [==============================] - 2s 653us/step - loss: 0.5733 - accuracy: 0.7079
Epoch 16/30
3750/3750 [==============================] - 3s 834us/step - loss: 0.5714 - accuracy: 0.7116
Epoch 17/30
3750/3750 [==============================] - 3s 780us/step - loss: 0.5653 - accuracy: 0.7154
Epoch 18/30
3750/3750 [==============================] - 3s 786us/step - loss: 0.5676 - accuracy: 0.7145
Epoch 19/30
3750/3750 [==============================] - 3s 788us/step - loss: 0.5669 - accuracy: 0.71500s
Epoch 20/30
3750/3750 [==============================] - 3s 806us/step - loss: 0.5659 - accuracy: 0.7150
Epoch 21/30
3750/3750 [==============================] - 3s 883us/step - loss: 0.5689 - accuracy: 0.7117
Epoch 22/30
3750/3750 [==============================] - 3s 784us/step - loss: 0.5656 - accuracy: 0.7142
Epoch 23/30
3750/3750 [==============================] - 3s 780us/step - loss: 0.5752 - accuracy: 0.7067
Epoch 24/30
3750/3750 [==============================] - 3s 773us/step - loss: 0.5832 - accuracy: 0.7053
Epoch 25/30
3750/3750 [==============================] - 3s 770us/step - loss: 0.5689 - accuracy: 0.7123
Epoch 26/30
3750/3750 [==============================] - 3s 770us/step - loss: 0.5690 - accuracy: 0.7143
Epoch 27/30
3750/3750 [==============================] - 3s 793us/step - loss: 0.5659 - accuracy: 0.7150
Epoch 28/30
3750/3750 [==============================] - 3s 792us/step - loss: 0.5696 - accuracy: 0.7126
Epoch 29/30
3750/3750 [==============================] - 3s 793us/step - loss: 0.5682 - accuracy: 0.7148
Epoch 30/30
3750/3750 [==============================] - 3s 797us/step - loss: 0.5659 - accuracy: 0.7148

In [23]:
ann.save("ANN.h5")

In [24]:
model = tf.keras.models.load_model("ANN.h5")

In [25]:
test_loss, test_accuracy = model.evaluate(X_test, Y_test)

782/782 [==============================] - 1s 717us/step - loss: 0.9160 - accuracy: 1.1400

In [ ]:
'''
from sklearn.metrics import precision_score, recall_score, accuracy_score
preds = model.predict(D_test)
best_preds = np.asarray([np.argmax(line) for line in preds])

print("Precision = {}".format(precision_score(Y_test, best_preds, average='macro')))
print("Recall = {}".format(recall_score(Y_test, best_preds, average='macro')))
print("Accuracy = {}".format(accuracy_score(Y_test, best_preds)))
'''

In [ ]:
#print(test_loss)
#print(test_accuracy)