In [2]:
import train_test_generation
from keras.layers import Dense,Conv2D,MaxPooling2D,UpSampling2D
from keras import Input, Model
from keras.datasets import mnist
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from keras import regularizers
import keras
import pandas as pd

62.5

In [2]:
#features, output = train_test_generation.generatefinaldf(10**5, 'ML', 90)

C:\Users\User\Documents\Freshman\Build 2022\build2022hackathon\ML Models\train_test_generation.py:525: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[article][ite] = bool(random.getrandbits(1))
C:\Users\User\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [3]:
features = pd.read_csv("features.csv")
output = pd.read_csv("output.csv")

In [4]:
features.tail()

,temperature,humidity,precipitation,windspeed,age,weight,height,sex,fatpercentage,bmi,cold_resistance,scoring_difference,adjusted_cold_resistance,preference_factor
99995,10,8,94,18,38,48.0,131.0,1,36.904478,27.970398,100.0,0.000000,98.00,98
99996,17,85,77,6,45,76.0,173.0,1,35.422117,25.393431,80.0,0.000000,76.80,96
99997,21,78,36,40,31,48.0,174.0,1,20.754970,15.854142,77.5,0.000000,79.05,102
99998,-15,42,89,34,46,38.0,113.0,0,30.091489,29.759574,90.0,-6.033333,92.70,103
99999,5,88,78,39,37,95.0,134.0,1,66.598528,52.907106,100.0,-3.666667,97.00,97

In [5]:
output.tail()

,thermal,hoodie,fleece,wool,light_down,thick_down,wind_breaker,umbrella,winter_boots,user_feedback
99995,True,True,True,False,True,True,False,False,True,1
99996,True,True,True,True,True,False,False,True,False,1
99997,True,True,True,True,False,True,True,True,False,1
99998,False,False,False,False,True,True,False,False,True,0
99999,False,False,True,False,True,False,True,False,False,1

In [6]:
#features.to_csv("features.csv", index=False)
#output.to_csv("output.csv", index=False)

In [6]:
user_params_df = features[['age', 'weight', 'height', 'sex', 'fatpercentage', 'bmi']]

In [7]:
user_params_df.head()

   age      weight      height  sex  fatpercentage        bmi
0   59   76.350691  165.034328    1      41.809198  28.032665
1   24   83.566165  176.487951    0      21.514493  26.828745
2   24   96.348209  178.793425    0      25.487776  30.139813
3   25  106.733295  179.147332    0      29.458047  33.256706
4   29   68.463140  163.715886    1      31.921830  25.543192

In [8]:
#https://www.analyticsvidhya.com/blog/2021/06/complete-guide-on-how-to-use-autoencoders-in-python/

In [9]:
#num = user_params_df.values
#num = tf.convert_to_tensor(num)

In [10]:
from sklearn.preprocessing import MinMaxScaler 
X = MinMaxScaler().fit_transform(user_params_df)

In [11]:
#https://www.geeksforgeeks.org/ml-classifying-data-using-an-auto-encoder/

In [12]:
input_layer = Input(shape =(X.shape[1], ))

In [13]:
#building the autoencoder network
encoded = Dense(100, activation ='linear',
                activity_regularizer = regularizers.l1(10e-5))(input_layer)
encoded = Dense(50, activation ='linear',
                activity_regularizer = regularizers.l1(10e-5))(encoded)
encoded = Dense(25, activation ='linear',
                activity_regularizer = regularizers.l1(10e-5))(encoded)
encoded = Dense(12, activation ='linear',
                activity_regularizer = regularizers.l1(10e-5))(encoded)
encoded = Dense(4, activation ='linear')(encoded)
  
# Building the Decoder network
decoded = Dense(12, activation ='linear')(encoded)
decoded = Dense(25, activation ='linear')(decoded)
decoded = Dense(50, activation ='linear')(decoded)
decoded = Dense(100, activation ='linear')(decoded)
  
# Building the Output Layer
output_layer = Dense(X.shape[1], activation ='relu')(decoded)
output_layer = Dense(X.shape[1], activation ='relu')(decoded)

In [14]:
autoencoder = Model(input_layer, output_layer)
autoencoder.compile(optimizer ="adam", loss ="binary_crossentropy" , metrics=['accuracy'])

In [15]:
autoencoder.fit(X, X, 
                batch_size = 20, epochs = 25, 
                shuffle = True, validation_split = 0.20)

Epoch 1/25
4000/4000 [==============================] - 6s 1ms/step - loss: 1.1125 - accuracy: 0.9390 - val_loss: 0.5979 - val_accuracy: 0.8618
Epoch 2/25
4000/4000 [==============================] - 5s 1ms/step - loss: 0.4894 - accuracy: 0.9642 - val_loss: 0.5406 - val_accuracy: 0.9167
Epoch 3/25
4000/4000 [==============================] - 5s 1ms/step - loss: 0.4917 - accuracy: 0.9456 - val_loss: 0.8027 - val_accuracy: 0.8043
Epoch 4/25
4000/4000 [==============================] - 5s 1ms/step - loss: 0.5033 - accuracy: 0.9463 - val_loss: 0.5594 - val_accuracy: 0.9030
Epoch 5/25
4000/4000 [==============================] - 5s 1ms/step - loss: 0.4937 - accuracy: 0.9395 - val_loss: 0.7396 - val_accuracy: 0.8277
Epoch 6/25
4000/4000 [==============================] - 5s 1ms/step - loss: 0.4961 - accuracy: 0.9319 - val_loss: 0.7028 - val_accuracy: 0.8498
Epoch 7/25
4000/4000 [==============================] - 5s 1ms/step - loss: 0.4890 - accuracy: 0.9599 - val_loss: 0.6453 - val_accuracy: 0.8675
Epoch 8/25
4000/4000 [==============================] - 5s 1ms/step - loss: 0.4872 - accuracy: 0.9724 - val_loss: 0.5209 - val_accuracy: 0.9451
Epoch 9/25
4000/4000 [==============================] - 5s 1ms/step - loss: 0.4891 - accuracy: 0.9658 - val_loss: 0.5373 - val_accuracy: 0.8548
Epoch 10/25
4000/4000 [==============================] - 5s 1ms/step - loss: 0.6301 - accuracy: 0.8813 - val_loss: 0.5795 - val_accuracy: 0.9004
Epoch 11/25
4000/4000 [==============================] - 5s 1ms/step - loss: 0.4893 - accuracy: 0.9609 - val_loss: 0.5797 - val_accuracy: 0.9234
Epoch 12/25
4000/4000 [==============================] - 5s 1ms/step - loss: 0.4880 - accuracy: 0.9684 - val_loss: 0.4980 - val_accuracy: 0.8196
Epoch 13/25
4000/4000 [==============================] - 5s 1ms/step - loss: 0.4914 - accuracy: 0.9492 - val_loss: 0.4704 - val_accuracy: 0.9658
Epoch 14/25
4000/4000 [==============================] - 5s 1ms/step - loss: 0.4893 - accuracy: 0.9623 - val_loss: 0.5557 - val_accuracy: 0.9308
Epoch 15/25
4000/4000 [==============================] - 5s 1ms/step - loss: 0.8507 - accuracy: 0.9285 - val_loss: 1.0726 - val_accuracy: 0.9593
Epoch 16/25
4000/4000 [==============================] - 5s 1ms/step - loss: 2.0566 - accuracy: 0.8203 - val_loss: 6.3507 - val_accuracy: 0.4906
Epoch 17/25
4000/4000 [==============================] - 5s 1ms/step - loss: 4.5458 - accuracy: 0.3901 - val_loss: 1.7781 - val_accuracy: 0.3999
Epoch 18/25
4000/4000 [==============================] - 5s 1ms/step - loss: 1.7737 - accuracy: 0.4881 - val_loss: 1.7857 - val_accuracy: 0.3514
Epoch 19/25
4000/4000 [==============================] - 5s 1ms/step - loss: 0.5164 - accuracy: 0.9429 - val_loss: 0.4716 - val_accuracy: 0.9564
Epoch 20/25
4000/4000 [==============================] - 5s 1ms/step - loss: 0.4928 - accuracy: 0.9476 - val_loss: 0.8317 - val_accuracy: 0.8123
Epoch 21/25
4000/4000 [==============================] - 5s 1ms/step - loss: 0.4977 - accuracy: 0.9179 - val_loss: 0.4815 - val_accuracy: 0.9495
Epoch 22/25
4000/4000 [==============================] - 5s 1ms/step - loss: 0.4866 - accuracy: 0.9819 - val_loss: 0.4755 - val_accuracy: 0.9366
Epoch 23/25
4000/4000 [==============================] - 5s 1ms/step - loss: 0.4888 - accuracy: 0.9695 - val_loss: 0.4694 - val_accuracy: 0.9642
Epoch 24/25
4000/4000 [==============================] - 5s 1ms/step - loss: 0.4928 - accuracy: 0.9509 - val_loss: 0.5032 - val_accuracy: 0.8224
Epoch 25/25
4000/4000 [==============================] - 5s 1ms/step - loss: 0.4921 - accuracy: 0.9530 - val_loss: 0.4709 - val_accuracy: 0.9467

In [ ]:
encoder = keras.Model(input_layer, encoded)
decoder = keras.Model()

In [ ]:
# Extracting the embedding
encoder = keras.Model(input_layer, encoded)
encoded_r = encoder.predict(X)
print(encoded_r)

In [ ]:
# Transforming to a CSV file using pandas

df = pd.DataFrame(encoded_r, columns = ["Attribute 1", "Attribute 2", "Attribute 3", "Attribute 4"])
print(df)

In [ ]:
df.to_csv("R_values.csv", index=False)