In [1]:
import train_test_generation
from keras.layers import Dense,Conv2D,MaxPooling2D,UpSampling2D
from keras import Input, Model
from keras.datasets import mnist
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from keras import regularizers

In [2]:
data = train_test_generation.generatefinaldf(10**5, 'raw', 95)

C:\Users\User\Documents\Freshman\Build 2022\build2022hackathon\ML Models\train_test_generation.py:441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[article][ite] = bool(random.getrandbits(1))
C:\Users\User\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [3]:
data.head()

,date,temperature,humidity,precipitation,windspeed,age,weight,height,sex,fatpercentage,...,thermal,hoodie,fleece,wool,light_down,thick_down,wind_breaker,umbrella,winter_boots,scoring_difference
0,14/01/2022,3,45,39,7,24,89.637312,172.619549,0,25.418580,...,False,True,False,False,False,True,False,False,False,-3.333333
1,13/01/2022,-14,61,91,31,18,113.867795,180.939736,0,29.676330,...,True,False,False,True,True,True,True,True,True,0.000000
2,12/01/2022,12,19,100,38,16,105.205123,176.991378,0,27.780823,...,False,False,False,False,False,False,True,True,False,0.000000
3,11/01/2022,0,78,38,32,51,98.222861,182.816097,0,30.796711,...,False,False,False,True,False,True,True,False,False,-3.333333
4,10/01/2022,13,9,72,17,27,83.156689,159.836501,1,39.869485,...,False,False,False,False,False,False,False,True,False,0.000000

In [4]:
user_params_df = data[['age', 'weight', 'height', 'sex', 'fatpercentage', 'bmi']]

In [5]:
user_params_df.head()

   age      weight      height  sex  fatpercentage        bmi
0   24   89.637312  172.619549    0      25.418580  30.082150
1   18  113.867795  180.939736    0      29.676330  34.780275
2   16  105.205123  176.991378    0      27.780823  33.584019
3   51   98.222861  182.816097    0      30.796711  29.388926
4   27   83.156689  159.836501    1      39.869485  32.549571

In [ ]:
#https://www.analyticsvidhya.com/blog/2021/06/complete-guide-on-how-to-use-autoencoders-in-python/

In [ ]:
#num = user_params_df.values
#num = tf.convert_to_tensor(num)

In [6]:
from sklearn.preprocessing import MinMaxScaler 
X = MinMaxScaler().fit_transform(user_params_df)

In [7]:
#https://www.geeksforgeeks.org/ml-classifying-data-using-an-auto-encoder/

In [8]:
input_layer = Input(shape =(X.shape[1], ))

In [9]:
#building the autoencoder network
encoded = Dense(100, activation ='linear',
                activity_regularizer = regularizers.l1(10e-5))(input_layer)
encoded = Dense(50, activation ='linear',
                activity_regularizer = regularizers.l1(10e-5))(encoded)
encoded = Dense(25, activation ='linear',
                activity_regularizer = regularizers.l1(10e-5))(encoded)
encoded = Dense(12, activation ='linear',
                activity_regularizer = regularizers.l1(10e-5))(encoded)
encoded = Dense(4, activation ='linear')(encoded)
  
# Building the Decoder network
decoded = Dense(12, activation ='linear')(encoded)
decoded = Dense(25, activation ='linear')(decoded)
decoded = Dense(50, activation ='linear')(decoded)
decoded = Dense(100, activation ='linear')(decoded)
  
# Building the Output Layer
output_layer = Dense(X.shape[1], activation ='relu')(decoded)
output_layer = Dense(X.shape[1], activation ='relu')(decoded)

In [10]:
autoencoder = Model(input_layer, output_layer)
autoencoder.compile(optimizer ="adam", loss ="binary_crossentropy" , metrics=['accuracy'])

In [ ]:
autoencoder.fit(X, X, 
                batch_size = 20, epochs = 25, 
                shuffle = True, validation_split = 0.20)

Epoch 1/25
4000/4000 [==============================] - 5s 968us/step - loss: 0.5215 - accuracy: 0.9528 - val_loss: 0.4865 - val_accuracy: 0.9650
Epoch 2/25
4000/4000 [==============================] - 4s 937us/step - loss: 0.4952 - accuracy: 0.9556 - val_loss: 0.5484 - val_accuracy: 0.8974
Epoch 3/25
4000/4000 [==============================] - 4s 930us/step - loss: 0.4958 - accuracy: 0.9401 - val_loss: 0.5260 - val_accuracy: 0.9591
Epoch 4/25
4000/4000 [==============================] - 4s 927us/step - loss: 0.4927 - accuracy: 0.9667 - val_loss: 0.4857 - val_accuracy: 0.9747
Epoch 5/25
4000/4000 [==============================] - 4s 937us/step - loss: 0.4929 - accuracy: 0.9634 - val_loss: 0.5415 - val_accuracy: 0.9519
Epoch 6/25
4000/4000 [==============================] - 4s 918us/step - loss: 0.4938 - accuracy: 0.9613 - val_loss: 0.5614 - val_accuracy: 0.9401
Epoch 7/25
4000/4000 [==============================] - 4s 926us/step - loss: 0.5025 - accuracy: 0.9423 - val_loss: 0.4830 - val_accuracy: 0.9746
Epoch 8/25
4000/4000 [==============================] - 4s 921us/step - loss: 0.4911 - accuracy: 0.9665 - val_loss: 0.4835 - val_accuracy: 0.9462
Epoch 9/25
4000/4000 [==============================] - 4s 922us/step - loss: 0.4933 - accuracy: 0.9601 - val_loss: 0.5328 - val_accuracy: 0.9099
Epoch 10/25
4000/4000 [==============================] - 4s 927us/step - loss: 0.4922 - accuracy: 0.9549 - val_loss: 0.4819 - val_accuracy: 0.9718
Epoch 11/25
4000/4000 [==============================] - 4s 923us/step - loss: 0.5525 - accuracy: 0.9063 - val_loss: 0.5314 - val_accuracy: 0.9040
Epoch 12/25
4000/4000 [==============================] - 4s 917us/step - loss: 0.5014 - accuracy: 0.9248 - val_loss: 0.5292 - val_accuracy: 0.9028
Epoch 13/25
4000/4000 [==============================] - 4s 927us/step - loss: 0.4913 - accuracy: 0.9668 - val_loss: 0.5125 - val_accuracy: 0.9555
Epoch 14/25
4000/4000 [==============================] - 4s 946us/step - loss: 0.4951 - accuracy: 0.9576 - val_loss: 0.5329 - val_accuracy: 0.8136
Epoch 15/25
4000/4000 [==============================] - 4s 924us/step - loss: 0.4909 - accuracy: 0.9692 - val_loss: 0.4872 - val_accuracy: 0.9621
Epoch 16/25
1484/4000 [==========>...................] - ETA: 2s - loss: 0.4903 - accuracy: 0.9762

In [ ]:
#encoded