In [1]:
import train_test_generation
from keras.layers import Dense,Conv2D,MaxPooling2D,UpSampling2D
from keras import Input, Model
from keras.datasets import mnist
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from keras import regularizers
import keras
import pandas as pd

In [2]:
features, output = train_test_generation.generatefinaldf(10**5, 'ML', 90)

C:\Users\User\Documents\Freshman\Build 2022\build2022hackathon\ML Models\train_test_generation.py:441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[article][ite] = bool(random.getrandbits(1))
C:\Users\User\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [3]:
features.head()

,temperature,humidity,precipitation,windspeed,age,weight,height,sex,fatpercentage,bmi,cold_resistance,scoring_difference
0,9,28,37,0,16,107.352758,169.670183,0,32.229007,37.290839,80.0,-3.333333
1,-16,49,49,29,28,64.245141,165.204720,0,18.487280,23.539400,85.0,-1.666667
2,-16,59,21,7,52,86.863014,175.740798,0,29.509781,28.124817,70.0,-6.666667
3,-2,28,19,35,60,82.106917,166.725022,1,43.845363,29.537802,70.0,-10.000000
4,0,44,5,9,19,76.801752,164.801259,1,32.903709,28.278090,90.0,-3.333333

In [4]:
features.to_csv("features.csv", index=False)
output.to_csv("output.csv", index=False)

In [5]:
user_params_df = data[['age', 'weight', 'height', 'sex', 'fatpercentage', 'bmi']]

NameError: name 'data' is not defined

In [ ]:
features.tail()

In [ ]:
user_params_df.head()

In [ ]:
#https://www.analyticsvidhya.com/blog/2021/06/complete-guide-on-how-to-use-autoencoders-in-python/

In [ ]:
#num = user_params_df.values
#num = tf.convert_to_tensor(num)

In [ ]:
from sklearn.preprocessing import MinMaxScaler 
X = MinMaxScaler().fit_transform(user_params_df)

In [ ]:
#https://www.geeksforgeeks.org/ml-classifying-data-using-an-auto-encoder/

In [ ]:
input_layer = Input(shape =(X.shape[1], ))

In [ ]:
#building the autoencoder network
encoded = Dense(100, activation ='linear',
                activity_regularizer = regularizers.l1(10e-5))(input_layer)
encoded = Dense(50, activation ='linear',
                activity_regularizer = regularizers.l1(10e-5))(encoded)
encoded = Dense(25, activation ='linear',
                activity_regularizer = regularizers.l1(10e-5))(encoded)
encoded = Dense(12, activation ='linear',
                activity_regularizer = regularizers.l1(10e-5))(encoded)
encoded = Dense(4, activation ='linear')(encoded)
  
# Building the Decoder network
decoded = Dense(12, activation ='linear')(encoded)
decoded = Dense(25, activation ='linear')(decoded)
decoded = Dense(50, activation ='linear')(decoded)
decoded = Dense(100, activation ='linear')(decoded)
  
# Building the Output Layer
output_layer = Dense(X.shape[1], activation ='relu')(decoded)
output_layer = Dense(X.shape[1], activation ='relu')(decoded)

In [ ]:
autoencoder = Model(input_layer, output_layer)
autoencoder.compile(optimizer ="adam", loss ="binary_crossentropy" , metrics=['accuracy'])

In [ ]:
autoencoder.fit(X, X, 
                batch_size = 20, epochs = 25, 
                shuffle = True, validation_split = 0.20)

In [ ]:
# Extracting the embedding
encoder = keras.Model(input_layer, encoded)
encoded_r = encoder.predict(X)
print(encoded_r)

In [ ]:
# Transforming to a CSV file using pandas

df = pd.DataFrame(encoded_r, columns = ["Attribute 1", "Attribute 2", "Attribute 3", "Attribute 4"])
print(df)

In [ ]:
df.to_csv("R_values.csv", index=False)